<h3>Confirm Email</h3>
Please enter the email address used to secure this secret:<br>
<form action="/<%= @secret['secreturi']%>" method='post' class="form-inline well">
  Email: <input name="email"><br>
  <input name="secreturi" value="<%= @secret['secreturi'] %>" type="hidden">
  <input name="revealsecret" value="" type="hidden">
  <input class="btn primary" type='submit' name='confirmemail' value='Confirm Email'>
</form>
