<h3>Create a custom secret</h3>
<form action='/' method='post' class="form-inline well">
<input name="secrettype" value="customsecret" type="hidden">
<div class="form-group">
  <table class="table">
    <tr>
      <td colspan="2">
        <textarea name="customsecret" placeholder="secret" rows=10 cols=200 autofocus class="alert alert-success" style="width: 100%"></textarea>
      </td>
    </tr>
    <tr>
      <td><label for="comment">Comment:</label></td>
      <td><input name="comment" id="comment" type="text" class="form-control" style="width: 100%"></td>
    </tr>
    <tr>
      <td><label for="email">Recipient email:</label></td>
      <td><input name="email" id="email" type="text" class="form-control" style="width: 100%"></td>
    </tr>
    <tr>
      <td><label for="ttl">Secret Time To Live:</label></td>
      <td>
        <select name="ttl" id="ttl" class="form-control">
          <option value="1800">30 minutes</option>
          <option value="3600">1 hour</option>
          <option value="43200">12 hours</option>
          <option value="86400">24 hours</option>
          <option value="259200">72 hours</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="btn primary" type='submit' name='storesecret' value='store secret'>
      </td>
    </tr>
  </table>
</div>
</form>
