<h3>Your secret has been stored</h3>
Send the below url to the secret's recipient.<br>
Please note that the secret will be deleted from the database once the url has been visited<br>
Secret URL: <pre class="alert alert-warning" id="secreturl"><%= request.scheme %>://<%= request.host %>/<%= @storedsecret['secreturi'] %></pre>
<button onclick="copyToClipboard('#secreturl')">Copy URL to clipboard</button>
